@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {margin:0;}

a{
    text-decoration: none;
}

a:visited{
    color: none;
    text-decoration: none;
}

body{
    background-color: #0E2307;
    font-family: "Open Sans Light";
    font-size: 1.063em;
    line-height: 1.6em;
    margin:0;
}

/* Overflow only works if width/margin adds up? */
.container{
    width:78%;
    margin-left:22%;
    overflow: hidden;
}

.nav-container{
    text-align: center;
}

#navbar{
    /* Puts nav bar on top */
    z-index: 9999;
    position: fixed;
    word-spacing: 90px;
    width: 100%;
    height: 50px;
    background-color: #0E2307;
    box-shadow: #0E2307;
}

#navbar ul{
    /* Padding to center inside navbar */
    /* padding: .75em; */
    display: inline-block;
    list-style: none;
    /* left: 50%; */
}

#navbar li{
    display: inline;
}

/* Used to position header elemends perfectly */
#navbar li:nth-child(1){
    position: relative;
    top: -3px;
}
#navbar li:nth-child(2){
    position: relative;
    top: -3px;
}
#navbar li:nth-child(3){
    padding-top: 14px;
}

#navbar a{
    color: #F4FFE8;
}

#navbar a:hover{
    color: #ABFF00; 
    text-decoration: none;
}

/* Figure out how to hover swap image */
#navbar li:nth-child(3) {
    position: relative;
    display: inline-block;
}

#navbar li:nth-child(3) .linkhover, li:nth-child(4) .githover{
    display: none;
    position: absolute;
}

#navbar li:nth-child(3) .linkhover:hover{
    display: inline;
}
/**/

#main-header h1{
    position: relative;
    font: bold 7.706em "Open Sans";
    color: #F4FFE8;
    /* fontsize and fontfamily (last two) are necessary */
    /* font-weight: bold;
    font-size: 131px; */
    margin: 256px 0 0 0;
}

#sub-header h2{
    position: absolute;
    font: bolder 2.824em "Open Sans";
    color: #83C967;
    margin-top: -.56em;
    margin-left: 10px;
}

#about p{
    display: inline-block;
    margin-top: 4em;
    margin-left: 10px;
    line-height: 1.25em;
    color: #83C967; 
}

#about #resume {
    vertical-align: top;
    margin-top: 5em;
    margin-left: 40px;
    padding: 12px 32px;
    display: inline-block;
    color: #ABFF00;
    border: 2px solid #ABFF00;
    border-radius: 8px;
}

#about #resume a:link, a:visited{
    color: #ABFF00;
}


#home{
    width: 100%;
    height: 1016px;
    background-color: #143109;
}

#home2{
    /* width: 100%; */
    margin-top: 146px; 
    margin-left: 30px;
}

.sub-header{
    /* display: inline-block; */
    font: bold 2.824em "Open Sans";
    color: #F4FFE8;
    margin-right: 62px;
}

.skills{
    display: flex;
    flex-direction: row;
    vertical-align: text-top;
    margin: -40px 0 250px 250px;
}

.skills li{
    vertical-align: text-top;
    display: inline-block;
}

.skills .development h3{
    margin: 0 160px 24px 145px;
    color: #F4FFE8;
    font: lighter 1.063em "Open Sans Light";
}

.skills .design h3{
    margin: 0 150px 24px 175px;
    color: #F4FFE8;
    font: lighter 1.063em "Open Sans Light";
}

.skills .design p{
    margin-left: -15px;
}

.skills img{
    float: left;
    margin-right: -6px;
    margin-top: -22px;
    z-index: 0;
}

.skills p{
    line-height: 45px;
    display: inline;
    vertical-align: top;
    color: #83C967;
    border: 1px #83C967 solid;
    border-radius: 5px;
    padding: 6px 16px;
    margin: 0 30px 0 -15px;
}

.skills .development div{
    float: left;
    margin-left: -35px;
    padding-left: 35px;
    border-left: 1px solid #ABFF00;
}

.skills .design div{
    float: left;
    margin-left: -35px;
    padding-left: 35px;
    border-left: 1px solid #ABFF00;
}

@media only screen and (max-width: 1360px){
    body {
        font-size: .9em;
    }

    #navbar{
        font-size: 1em;
    }

    .sub-header{
        /* display: inline-block; */
        font: bold 2.824em "Open Sans";
        color: #F4FFE8;
        margin-right: 62px;
        margin-left: -4em;
    }

    .skills{
        display: flex;
        flex-direction: row;
        vertical-align: text-top;
        margin: -40px 0 250px 150px;
    }
}

@media only screen and (max-width: 1227px){
    .sub-header{
        /* display: inline-block; */
        font: bold 2.824em "Open Sans";
        color: #F4FFE8;
        margin-right: 62px;
        margin-left: 1em;
    }

    .skills{
        display: flex;
        flex-direction: row;
        vertical-align: text-top;
        margin: -90px 0 150px 300px;
    }

    .skills .development{
        margin: 4em 0 4em 0;

    }

    .skills .design{
        margin: 0 0 0 -2em;
    }
}

@media only screen and (max-width: 950px){

    .container{
        width:80%;
        margin-left:20%;
        overflow: hidden;
    }
    

    .skills{
        display: flex;
        flex-direction: row;
        vertical-align: text-top;
        margin: -90px 0 150px 100px;
    }

    .skills .development{
        margin: 8em 0 4em 0;

    }

    .skills .design{
        margin: 0 0 0 -2em;
    }
}

@media only screen and (max-width: 900px){
    .container{
        width:85%;
        margin-left:15%;
        overflow: hidden;
    }

    @media only screen and (max-height: 1024px){
        #home{
            height: 870px;
        }
    }
}

@media only screen and (max-width: 750px){
    .container{
        width:92%;
        margin-left:8%;
        overflow: hidden;
    }

    .sub-header{
        margin-left: 0;
    }
}

@media only screen and (max-width: 650px){
    .container{
        width:96%;
        margin-left:4%;
        overflow: hidden;
    }
}

@media only screen and (max-width: 591px){
    #main-header{
        font-size: .85em;
    }
    #about #resume{
        margin: .7em 0 0 22em;
    }

    #sub-header{
        font: bolder 1.1em "Open Sans";
    }

    #about p{
        font: lighter 1.15em "Open Sans Light";
    }

    #home2{
        margin-left: 0;
    }
    
    .sub-header{
        margin-left: 15px;
    }

    .skills{
        display: flex;
        flex-direction: row;
        vertical-align: text-top;
        margin: -90px 0 150px 80px;
    }
}

@media only screen and (max-width: 499px){
    /* Landing */
    .container{
        width: 95%;
        margin-left: 5%;
    }
    #navbar{
        word-spacing: 48px;
    }

    #navbar ul{
        margin-left: -30px;
    }

    #main-header{
        font-size: .68em;
    }

    #sub-header{
        font-size: .87em;
    }

    .landing{
        position: relative;
        top: -95px;
    }

    #about p{
        font-size: .96em;
        margin-bottom: 40px;
    }

    #resume{
        position: relative;
        font-size: .9em;
        left: -80px;
    }

    #home{
        height: 640px;
    }

    /* Skills */
    .sub-header{
        font-size: 2em;
        margin-left: 1.5em;
    }
    
    .skills{
        display: flex;
        flex-direction: row;
        vertical-align: text-top;
        margin: -90px 0 150px 0;
    }
}

@media only screen and (max-width: 375px){

    .container{
        width:96%;
        margin-left:4%;
        overflow: hidden;
    }
    
    #main-header{
        font-size: .6em;
    }

    #sub-header{
        font-size: .8em;
    }

    .landing{
        position: relative;
        top: -95px;
    }

    #about p{
        font-size: .87em;
        margin-bottom: 40px;
    }

    #resume{
        position: relative;
        font-size: .9em;
        left: -80px;
    }

    #home{
        height: 640px;
    }

    /* Skills */

    #home2{
        margin-top: 100px;
    }
    
    .skills{
        display: flex;
        flex-direction: row;
        vertical-align: text-top;
        margin: -90px 0 150px -25px;
    }
}

@media only screen and (max-width: 374px){
    #main-header{
        font-size: .55em;
    }

    #sub-header{
        font-size: .72em;
    }

    #about p{
        font-size: .76em;
        margin-bottom: 40px;
    }

    #resume{
        position: relative;
        font-size: .9em;
        left: -120px;
    }

    /* Skills */
    #home2 img{
        opacity: .3;
        padding: -50px;
        margin-right: -40px;
        z-index: 1;
    }
    .sub-header{
        font-size: 1.6em;
    }
    .skills{
        font-size: .85em;
    }
}